services:
  ollama:
    image: ollama/ollama:rocm
    container_name: ollama
    restart: unless-stopped
    environment:
      - HSA_OVERRIDE_GFX_VERSION=11.0.0
      - OLLAMA_DEBUG=1
      - HIP_VISIBLE_DEVICES=0
      - OLLAMA_KV_CACHE_TYPE="q8_0"
      - OLLAMA_FLASH_ATTENTION=1
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    devices:
      - /dev/kfd
      # - /dev/dri    
      - /dev/dri/renderD128
    security_opt:
      - seccomp=unconfined 

  openwebui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: openwebui
    restart: unless-stopped
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
      
    depends_on:
      - ollama
    volumes:   
      - openwebui_data:/app/backend/data
      - ollama_data:/root/.ollama  # optional shared model access

volumes:
  ollama_data:
  openwebui_data:
    